@charset "utf-8";
/* CSS Document */

/* Flexbox Declarations */
#breadcrumb {
	display: flex;
	flex-wrap: wrap;
}

.filter-options {
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list li {
	display: flex;
	flex-direction: column;
}

.inside #maincontent {
	display: flex;
	flex-direction: column;
}

#reviews-list {
	display: flex;
	flex-wrap: wrap;
}

#reviews-list li {
	display: flex;
	flex-wrap: wrap;
}

/* General Styling */
img, picture, embed, object, video {
	max-width: 100%;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #333;
}

a {
	color: #B2D9F5;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	max-width: 100%;
}

.skip-link {
	position: absolute;
	left: -200px;
}

.skip-link:focus {
	left: 0;
	top: 0;
	color: #fff;
	font-size: 12pt;
}

.hidden {
	position: absolute;
	left: -200px;
	width: 1px;
	height: 1px;
}

/* Main content area */
#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}

/* Site footer */
#footer {
	background-color: #444;
	color: #C6C6C6;
	font-size: 7pt;
	letter-spacing: 1px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}

/* ====================== Navigation ====================== */
/* Navigation area */
nav {
	width: 100%;
	height: 5em;
	background-color: #252831;
	text-align:center;
}

/* Site title */
nav h1 {
	margin: auto;
	padding: 15px 0;
}

/* Site title */
nav h1 a {
	color: #fff;
	font-size: 12pt;
	font-weight: 200;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

/* The user's location in sitemap (within a restaurant page) */
#breadcrumb {
	padding: 16px 20px;
	list-style: none;
	background-color: #eee;
	margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
	max-width: 100%;
	font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #0166BD;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

/* ====================== Map ====================== */
/* Map area */
#map {
	height: 250px;
	width: 100%;
	background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
/* Filter options area */
.filter-options {
	width: 100%;
	background-color: #3397DB;
	align-items: center;
}

/* Filter options area title */
.filter-options h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
	padding: 15px 0 10px;
	width: 100%;
	text-align: center;
}

/* Filter options area drop-downs */
.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 30px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: Calc((100% - 40px) / 2);
}

/* ====================== Restaurant Listing ====================== */
/* Restaurant list area */
#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 20px 10px 40px;
	text-align: center;
}

/* Restaurant entry */
#restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial,sans-serif;
	margin: 5px 5px 10px;
	padding: 0 10px 15px;
	text-align: left;
	width: Calc(100% - 10px - 20px);
}

/* Restaurant image */
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin: 0;
	width: 100%;
}

/* Restaurant name */
#restaurants-list li h1 {
	color: #004CB3;
	font-family: Arial,sans-serif;
	font-size: 13pt;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.3em;
	margin: 15px 2px 10px;
	text-transform: uppercase;
}

/* Restaurant details */
#restaurants-list p {
	margin: 0 2px 5px;
	font-size: 11pt;
}

/* Restaurant "view details" link */
#restaurants-list li a {
	background-color: #0771B8;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 12pt;
	margin: 10px 0 0;
	padding: 10px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/* Restaurant page header */
.inside header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* Restaurant page content area */
.inside #maincontent {
	position: relative;
	top: 150px;
	min-height: 100%;
	align-content: center;
	justify-content: center;
}

/* Restaurant page map container */
.inside #map-container {
	height: 300px;
	position: relative;
	right: 0;
	width: 100%;
}

/* Restaurant page map */
.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}

/* Restaurant name */
#restaurant-name {
	color: #004CB3;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 25px 10px 20px;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center
}

#restaurant-name a {
	color: #004CB3;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 25px 10px 20px;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center
}

/* Restaurant image */
#restaurant-imgs > img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

/* Restaurant address */
#restaurant-address {
	font-size: 14pt;
	margin: 10px 5%;
	text-align: center;
}

/* Restaurant cuisine */
#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 5% 10px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}

/* Restaurant opening hours */
#restaurant-hours {
	width: 90%;
	margin-left: 6%;
	margin-right: 4%;
}

/* Restaurant opening hours */
#restaurant-hours td {
	color: #666;
}

/* Restaurant details and reviews containers */
#restaurant-container, #reviews-container {
	border-bottom: 2px solid #d9d9d9;
	border-top: 2px solid #fff;
	padding: 20px 0 20px;
	width: 100%;
}

/* Restaurant reviews container */
#reviews-container {
	padding: 20px 0 60px;
}

/* Restaurant reviews title */
#reviews-container h2 {
	color: #004CB3;
	font-size: 17pt;
	font-weight: 300;
	padding: 0 15px 1px;
}

#reviews-section a {
	color: #004CB3;
	font-size: 17pt;
	font-weight: 300;
	padding: 0 15px 1px;
}

/* Restaurant reviews - list of reviews */
#reviews-list {
	margin: 0;
	padding: 0;
}

/* Restaurant reviews - review */
#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	list-style-type: none;
	margin: 0 0 15px;
	overflow: hidden;
	padding: 0 20px 5px;
	position: relative;
	width: 85%;
}

/* Restaurant reviews - review text */
#reviews-list li p {
	margin: 10px 0;
}

/* Restaurant reviews - reviewer name */
.reviewerName {
	display: block;
	background-color: #444;
	color: #ddd;
	border-radius: 0;
	padding: 10px;
	font-size: 15px;
	width: 47%;
	font-weight: 600;
}

/* Restaurant reviews - review date */
.reviewDate {
	width: 40%;
	display: block;
	background-color: #444;
	color: #B2D9F5;
	border-radius: 0;
	text-align: center;
	padding: 11px 5px;
	font-size: 12px;
}

/* Restaurant reviews - reviewer rating */
.reviewerRating {
	text-align: center;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

/* Restaurant reviews - reviewer comments */
.reviewerComments {
	font-size: 14.5px;
}

/* Restaurant page footer */
.inside #footer {
	position: fixed;
	bottom: 0;
	width: 90%;
}

/* Responsive Styling */
/* Breakpoint for any screen below 250px (if there are any) */
@media screen and (max-width: 250px) {
	/* ====================== Navigation ====================== */
	/* Site title */
	nav h1 a {
		font-size: 11pt;
		letter-spacing: 0.2em;
	}
	
	/* The user's location in sitemap (within a restaurant page) */
	#breadcrumb {
		padding: 10px 20px 16px;
		font-size: 14px;
		margin: 0;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant page content area */
	.inside #maincontent {
		top: 175px;
	}
}

/* Breakpoint at 300px. Minor changes to the restaurant list, the restaurant page main */
/* content area and the restaurant page footer */
@media screen and (min-width: 300px) {
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant list area */
	#restaurants-list {
		margin: 0 Calc((100% - 300px) / 2);
		padding: 20px 10px 40px;
		text-align: center;
	}
	
	/* Restaurant entry */
	#restaurants-list li {
		max-width: 300px;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant page content area */
	.inside #maincontent {
		top: 125px;
	}
	
	/* Restaurant page footer */
	.inside #footer {
		width: 100%;
		padding-right: 15px;
		padding-left: 2px;
	}
}

/* Breakpoint at 400px to modify the main map and the restaurant filtering in the main page, */
/* as well as  the breadcrumb, restaurant container and opening hours in the individual pages. */
@media screen and (min-width: 400px) {
	/* ====================== Navigation ====================== */
	/* Display list items side by side */
	#breadcrumb li {
		font-size: 17px;
	}
	
	/* ====================== Map ====================== */
	/* Map area */
	#map {
		height: 300px;
		width: 100%;
		background-color: #ccc;
	}
	
	/* ====================== Restaurant Filtering ====================== */
	/* Filter options area */
	.filter-options {
		align-content: center;
		justify-content: center;
	}
	
	/* Filter options area title */
	.filter-options h2 {
		font-size: 1.1rem;
	}
	
	/* Filter options area drop-downs */
	.filter-options select {
		max-width: 200px;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant image */
	#restaurant-imgs > img {
		width: 84%;
		margin-left: 8%;
		margin-right: 8%;
	}
	
	/* Restaurant cuisine */
	#restaurant-cuisine {
		width: 84%;
		margin: 0 8% 10px;
	}
	
	/* Restaurant reviews container */
	#reviews-container {
		max-width: 400px;
		margin-right: Calc((100% - 400px) / 2);
		margin-left: Calc((100% - 400px) / 2);
	}
	
	/* Restaurant reviews - reviewer name */
	.reviewerName {
		width: 50%;
	}
	
	/* Restaurant reviews - review date */
	.reviewDate {
		width: 40%;
		margin-right: 0;
	}
	
	/* Restaurant opening hours */
	#restaurant-hours {
		text-align: center;
	}
}

/* Breakpoint at 500px to modify the main page's layout (particularly the restaurant */
/* list) and make the maps slightly bigger */
@media screen and (min-width: 500px) {
	/* ====================== Navigation ====================== */
	/* Site title */
	nav h1 a {
		font-size: 17px;
	}
	
	/* ====================== Map ====================== */
	/* Map area */
	#map {
		height: 350px;
	}
	
	/* ====================== Restaurant Filtering ====================== */
	/* Filter options area title */
	.filter-options h2 {
		font-size: 1.2rem;
	}
	
	/* Filter options area drop-downs */
	.filter-options select {
		margin: 10px 25px;
	}
	
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant list area */
	#restaurants-list {
		margin: 0 10px;
	}
	
	/* Restaurant entry */
	#restaurants-list li {
		width: Calc((100% - 80px) / 2);
		max-width: 300px;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant page map container */
	.inside #map-container {
		height: 400px;
		position: relative;
	}
}

/* Breakpoint at 550px to modify a restaurant's individual page, making minor changes to the */
/* restaurant information design and changing the reviews layout. */
@media screen and (min-width: 550px) {
	/* ====================== Navigation ====================== */
	/* Display list items side by side */
	#breadcrumb li {
		font-size: 18px;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant name */
	#restaurant-name {
		font-size: 24px;
		margin-top: 10px;
	}
	
	/* Restaurant image */
	#restaurant-imgs > img {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	/* Restaurant cuisine */
	#restaurant-cuisine {
		width: 80%;
		margin: 0 10% 10px;
	}
	
	/* Restaurant address */
	#restaurant-address {
		font-size: 17px;
	}
	
	/* Restaurant opening hours */
	#restaurant-hours {
		margin-left: 9%;
		margin-right: 0;
	}
	
	/* Restaurant reviews container */
	#reviews-container {
		width: 94%;
		max-width: 94%;
		margin-right: 3%;
		margin-left: 3%;
	}
	
	/* Restaurant reviews - review */
	#reviews-list li {
		margin: 0 10px 15px;
		overflow: hidden;
		padding: 0 10px 5px;
		position: relative;
		width: Calc(50% - 50px);
		align-content: flex-start;
	}
	
	#reviews-container h2 {
		font-size: 22px;
	}
	
	/* Restaurant reviews - reviewer name */
	.reviewerName {
		width: 35%;
		font-size: 16px;
	}
	
	/* Restaurant reviews - review date */
	.reviewDate {
		width: 50%;
		margin-right: 0;
		font-size: 12px;
	}
	
	/* Restaurant reviews - reviewer rating */
	.reviewerRating {
		font-size: 15px;
	}

	/* Restaurant reviews - reviewer comments */
	.reviewerComments {
		font-size: 15.5px;
	}
}

/* Breakpoint at 700px, redesigning the restaurant details area (in the restaurant */
/* page) and making minor modifications to the map area, the restaurant list andn the title. */
@media screen and (min-width: 700px) {
	/* ====================== Navigation ====================== */
	/* Site title */
	nav h1 a {
		font-size: 18px;
	}
	
	/* ====================== Map ====================== */
	/* Map area */
	#map {
		height: 400px;
	}
	
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant list area */
	#restaurants-list {
		justify-content: center;
	}
	
	/* Restaurant entry */
	#restaurants-list li {
		margin: 1%;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant page - restaurant details container */
	#restaurant-container {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		width: 100%;
	}
	
	/* Restaurant name */
	#restaurant-name {
		order: 1;
		width: 100%;
		text-align: center;
	}
	
	/* Restaurant image */
	#restaurant-imgs {
		order: 4;
		width: 40%;
		left: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#restaurant-imgs > img {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	/* Restaurant cuisine */
	#restaurant-cuisine {
		order: 2;
		width: 40%;
		align-self: center;
		margin: 0 5% 10px;
	}
	
	/* Restaurant address */
	#restaurant-address {
		order: 3;
		width: 44%;
		margin: 10px 3% 10px 1%;
		font-size: 18px;
	}
	
	/* Restaurant opening hours */
	#restaurant-hours {
		order: 5;
		width: 40%;
		margin-right: 3%;
		margin-left: 1%;
	}
}

/* Breakpoint at 750px, making minor size changes to the restaurant list and */
/* elements in the restaurant page. */
@media screen and (min-width: 750px) {
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant entry */
	#restaurants-list li {
		margin: 2%;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant address */
	#restaurant-address {
		margin-right: 5%;
	}
	
	/* Restaurant opening hours */
	#restaurant-hours {
		width: 42%;
	}
	
	/* Restaurant opening hours table cell */
	#restaurant-hours td {
		font-size: 14px;
	}
	
	#reviews-container h2 {
		font-size: 24px;
	}
	
	/* Restaurant reviews - reviewer name */
	.reviewerName {
		width: 40%;
		font-size: 18px;
	}
	
	/* Restaurant reviews - review date */
	.reviewDate {
		font-size: 14px;
	}
	
	/* Restaurant reviews - reviewer rating */
	.reviewerRating {
		font-size: 16px;
	}

	/* Restaurant reviews - reviewer comments */
	.reviewerComments {
		font-size: 16.5px;
	}
}

/* Minor breakpoint at 800px, changing the restaurant list items' margins & site header */
@media screen and (min-width: 800px) {
	/* ====================== Navigation ====================== */
	/* Site title */
	nav h1 a {
		font-size: 19px;
		letter-spacing: 0.3em;
	}
	
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant entry */
	#restaurants-list li {
		margin: 3.5%;
	}
}

/* Minor breakpoint at 850px, changing the restaurant list items' margins */
@media screen and (min-width: 850px) {
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant entry */
	#restaurants-list li {
		margin: 3% 4.5%;
	}
}

/* Breakpoint at 900px to change the restaurant list layout and make headlines larger. */
@media screen and (min-width: 900px) {
	/* ====================== Navigation ====================== */
	/* Site title */
	nav h1 a {
		font-size: 20px;
		letter-spacing: 0.4em;
	}
	
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant list area */
	#restaurants-list {
		margin: 0 10px;
	}
	
	/* Restaurant entry */
	#restaurants-list li {
		width: Calc((100% - 150px) / 3);
		max-width: 300px;
		margin: 3% 10px;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant name */
	#restaurant-name {
		font-size: 24px;
	}
}

/* Major breakpoint at 1000px, redesigning a restaurant's individual page. */
@media screen and (min-width: 1000px) {
	/* ====================== Navigation ====================== */
	/* The user's location in sitemap (within a restaurant page) */
	#breadcrumb {
		width: calc(45% - 40px);
		margin-bottom: 0;
	}
	
	/* ====================== Restaurant Details ====================== */
	/* Restaurant page map container */
	.inside #map-container {
		background: blue none repeat scroll 0 0;
		height: 87%;
		position: fixed;
		right: 0;
		top: 66px;
		width: 55%;
	}
	
	/* Restaurant page content area */
	.inside #maincontent {
		top: 110px;
	}
	
	/* Restaurant page - restaurant details container */
	#restaurant-container {
		align-content: center;
		justify-content: center;
		width: 45%;
		margin-top: 0;
	}
	
	/* Restaurant name */
	#restaurant-name {
		order: 1;
		width: 100%;
		text-align: center;
		margin: 15px 0 30px;
		line-height: 1.1;
	}
	
	/* Restaurant image */
	#restaurant-imgs {
		order: 2;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	/* Restaurant cuisine */
	#restaurant-cuisine {
		order: 3;
		width: 80%;
		margin: 2% 10% 0;
		align-self: center;
	}
	
	/* Restaurant address */
	#restaurant-address {
		order: 4;
		width: 90%;
		margin: 10px 3% 10px 3%;
		font-size: 18px;
		text-align: center;
	}
	
	/* Restaurant opening hours */
	#restaurant-hours {
		order: 5;
		width: 90%;
		margin-right: 2%;
		margin-left: 6%;
	}
	
	/* Restaurant reviews container */
	#reviews-container {
		width: 45%;
		padding: 0 30px 50px;
		margin: 0;
	}
	
	/* Restaurant reviews title */
	#reviews-container h2 {
		padding: 15px 5px;
		margin: 0;
	}
	
	/* Restaurant reviews - review */
	#reviews-list li {
		margin: 0 0 10px;
		padding: 0 20px 20px;
		position: relative;
		width: 80%;
	}
}

/* Minor breakpoint at 1100px to change the restaurant list padding and content alignment. */
@media screen and (min-width: 1100px) {
	/* ====================== Restaurant Listing ====================== */
	/* Restaurant list area */
	#restaurants-list {
		justify-content: space-between;
		align-content: space-between;
		padding: 20px 30px 40px;
	}
}